<h1>Listing Sanchaypatras</h1>

<% @sanchaypatras_in_groups.each do |interval,sanchaypatras| %>
    <h3>Interval Months : <%= interval %> </h3>
    <%= render :partial => "table",  :locals => {:sanchaypatras => sanchaypatras.sort_by(&:active_date)} %>
  <br/>
<% end %>

<%= link_to 'New Sanchaypatra', new_sanchaypatra_path %>













